#
# The Galera for MySQL database server configuration file.
#
# This file will se the configuration to join a Galera cluster
#

[wsrep]
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://<%tpl.php%>cluster_starter_target</%tpl.php%>"
wsrep_sst_method=rsync