#
# The Galera for MySQL database server configuration file.
#
# This file will se the configuration to start a Galera cluster
#

[wsrep]
wsrep_provider=/usr/lib/galera/libgalera_smm.so
wsrep_cluster_address="gcomm://"
wsrep_sst_method=rsync